<div class="container-fluid pb-3">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <form action="{{ path('ord_product',{'p_iIdItem':p_itItem.id}) }}" method="post" id="frm-order-product">
            <div class="row">

                <div class="col-sm">
                    <div class="form-group">
                        <label for="txt-quantity-ordered" class="col-form-label w-100 text-info"> {{ 'form.quantity_to_order'|trans({}, 'translations') }}:</label>
                        <input type="number" class="form-control" id="txt-quantity-ordered" name="txt-quantity-ordered" min="1" required>
                    </div>
                </div>
                <div class="col-sm p-4">
                    <div class="form-group pt-3">
                        <button type="submit" class="btn btn-sm btn-outline-success">{{ 'form.order'|trans({}, 'translations') }}</button>
                    </div>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm"></div>
            </div>
        </form>
    {% endif %}

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label class="col-form-label w-100 text-info"> {{ 'form.code'|trans({}, 'translations') }}:</label>
                {{ p_itItem.itmCode }}
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label class="col-form-label w-100 text-info"> {{ 'form.title'|trans({}, 'translations') }}:</label>
                {{ p_itItem.itmTitle }}
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group" >
                <label class="col-form-label w-100 text-info"> {{ 'form.description'|trans({}, 'translations') }}:</label>
                {{ p_itItem.itmDescription }}
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label class="col-form-label w-100 text-info"> {{ 'form.category'|trans({}, 'translations') }}:</label>
                {{ p_itItem.itmItemCategory.itcDescription }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label class="col-form-label w-100 text-info">{{ 'form.item_type'|trans({}, 'translations') }}</label>
                {{ p_itItem.itmItemType.ittDescription }}
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label class="col-form-label w-100 text-info">{{ 'form.brand'|trans({}, 'translations') }}</label>
                {{ p_itItem.itmItemBrand.brdName }} / {{ 'general.supplier'|trans({}, 'translations') }}: {{ p_itItem.itmItemBrand.brdSupplier.splName }}
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label class="col-form-label w-100 text-info">{{ 'form.unit_of_measure'|trans({}, 'translations') }}</label>
                {{ p_itItem.itmUnitOfMeasure.uomDescription }}
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label class="col-form-label w-100 text-info"> {{ 'form.price_ttc'|trans({}, 'translations') }}:</label>
                MGA {{ p_itItem.itmPriceWithDuty|number_format(2, '.', ' ') }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label class="col-form-label w-100 text-info">{{ 'form.stock_quantity'|trans({}, 'translations') }}</label>
                {{ p_itItem.itmStockQuantity }} {{ p_itItem.itmUnitOfMeasure.uomDescription }}
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
            </div>
        </div>
    </div>
</div>



