<div class="row">
    <div class="col-sm">
        <div class="form-group" id="div-date" data-language="{{ app.request.getLocale() }}">
            {{ form_label(p_frmForm.mvtDate,'form.date_movement'|trans({}, 'translations') ) }}:
            {{ form_widget(p_frmForm.mvtDate) }}
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group">
            {{ form_label(p_frmForm.mvtMovementType,'form.type_movement'|trans({}, 'translations') ) }}:
            {{ form_widget(p_frmForm.mvtMovementType) }}
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group">
            {{ form_label(p_frmForm.mvtComment,'form.comment'|trans({}, 'translations') ) }}:
            {{ form_widget(p_frmForm.mvtComment) }}
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group" id="div_movement_mvtOrder">
            <label class="w-100">{{ 'general.order_validated'|trans({}, 'translations') }}:</label>
            {% if p_mvtMovement is defined and p_mvtMovement is not null and p_mvtMovement.mvtOrder is not null %}
                {{ p_mvtMovement.mvtOrder.ordCode }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="form-group">
            {#{{ form_label(p_frmForm.mvtOrder,'general.order_validated'|trans({}, 'translations') ) }}:#}
            {{ form_widget(p_frmForm.mvtIsDraft) }}
        </div>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
</div>
<div class="row">
    <div class="col-sm">
        <span class="text-success h5"><i class="material-icons md-24">device_hub</i> {{ 'general.movement_detail'|trans({}, 'translations') }}</span>
    </div>
    <div class="col-sm">
        <a href="#" class="add_movement_detail_row" onclick="">
            <i class="material-icons md-18">open_in_browser</i> {{ 'general.add_detail_movement_product'|trans({}, 'translations') }}
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="container-fluid div-mvtMovementDetailLists" data-prototype="
                                                                {% filter escape %}
                                                                    {% include 'admin/movementDetail/movementDetailPrototype.html.twig' with {'p_frmForm': p_frmForm.mvtMovementDetailLists.vars.prototype} %}
																{% endfilter %}
																	">
            {% set i = 0 %}
            {% for l_mvdMovementDetail in p_frmForm.mvtMovementDetailLists %}
                <div class="row border m-2">
                    <div class="col-sm">
                        <div class="container-fluid">
                            {% include 'admin/movementDetail/movementDetailPrototype.html.twig' with {'p_frmForm': l_mvdMovementDetail} %}

                        </div>
                    </div>
                    {% if i > 0 %}
                        <a href="#" class="remove-tag text-red"><i class="material-icons md-18 md-red">delete</i></a>
                    {% endif %}
                </div>
                {% set i = i + 1 %}
            {% endfor %}
        </div>
    </div>
</div>