{% extends 'customer/indexCustomer.html.twig' %}
{% block title %}{{ 'general.product_detail'|trans({}, 'translations') }}{% endblock %}
{% block additionalStyle %}
    {#<link href="{{ asset('build/css/signIn.css') }}" rel="stylesheet">#}
{% endblock %}
{% block activeProduct %}active{% endblock %}

{% block maincontent %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-sm">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('cus_home') }}">
                                <i class="material-icons md-18">list</i> {{ 'general.product_list'|trans({}, 'translations') }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            <i class="material-icons md-18">description</i> {{ 'general.product_detail'|trans({}, 'translations') }} >
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-sm">
            </div>
        </div>
        {% if p_sRouteFrom is defined and p_sRouteFrom is not null %}
            <div class="row">
                <div class="col-sm">
                    <div  class="alert alert-success" role="alert">
                        {{ p_sRouteFrom|getMessageOrder }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm">
                {% include 'product/detailProductContent.html.twig' %}
            </div>
        </div>
    </main>
{% endblock %}
